.projects {
  padding: 40px 0;
}

/* Project Image */

.project_image {
  width: 165px;
  height: 100px;
  overflow: hidden;
  border-radius: 6px;
}

.project_image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.2s ease;
}

.projects_card:hover .project_image img {
  transform: scale(1.05);
}

/* Title */

.title {
  color: var(--white-color);
  line-height: 1.5;
  letter-spacing: 0.6px;
  font-weight: 700;
  transition: color 0.2s ease;
}

/* Arrow */

.arrow {
  color: var(--white-color);
  margin-left: 5px;
  font-size: 14px;
}

.arrow {
  color: var(--white-color);
  margin-left: 5px;
  font-size: var(--body-font-size);
  transition: color 0.2s ease, transform 0.2s ease;
}
/* Description */
.description {
  font-size: 13px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  letter-spacing: 0.9px;

  /* 3-line truncation */
  display: -webkit-box;
  -webkit-line-clamp: 4;       /* limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Language Tags */
.language {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
}

.language_name {
  padding: 5px 13px;
  font-size: 12px;
  transition: color 0.2s ease;
  color: var(--info-color);
  background: var(--info-hover-color);
  border-radius: 19px;
}

.language_name:hover {
  color: var(--white-color);
}

/* Project Card */

.projects_card {
  transition: all 0.2s ease;
  padding: 15px;
  border-radius: 9px;
}

/* Hover Effects */

.projects_card:hover {
  background-color: var(--box-color);
  transform: translateY(-4px);
  box-shadow: var(--box-shadow-color);
  cursor: pointer;
}

.projects_card:hover .title,
.projects_card:hover .project_name {
  color: var(--info-color);
}

.projects_card:hover svg {
  transform: translate(8px, -1px);
  color: var(--info-color);
  transition: transform 0.2s ease, color 0.2s ease;
}

/* Project Name */

.project {
  color: var(--white-color);
  font-family: var(--primary-font);
  font-weight: 600;
  letter-spacing: 0.6px;
  font-size: 15px;
  position: relative;
  transition: color 0.2s ease;
}
.project::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%; /* start from 0 */
  height: 2px;
  background-color: var(--info-color);
  transition: width 0.3s ease;
}
.project:hover::after {
  width: 100%;
}

/* Project Link */
.project_link svg {
  transition: transform 0.2s ease, color 0.2s ease;
}
.project_link:hover svg {
  transform: translate(10px, -1px);
  color: var(--info-color);
}

/* Section Heading */

.h2_heading {
  text-transform: uppercase;
  color: var(--white-color);
  line-height: 1.5;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  position: relative;
  letter-spacing: 2px;

}

/* Hide heading on desktop */

@media (min-width: 991px) {
  .h2_heading {
    display: none;
  }
  .project_image {
    width: 100%;
    height: 90px;
    padding-inline: 0;
  }
}
@media (max-width: 991px) {
  .project_image {
    width: 210px;
    height: 125px;
  }
}
/* Tablet */

@media (max-width: 768px) {

  .project_image {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
  }

  .project_img {
    order: 2 !important;
    margin-top: 15px;
  }

  .project_content {
    order: 1 !important;
  }

  .projects_card {
    padding: 10px 5px;
  }

}